<div class="container-md mt-3">
    <div class="container py-5">
        <form>
            <fieldset class="border p-4 rounded shadow-sm">
                <legend class="float-none w-auto px-2">Personal Information</legend>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input [(ngModel)]="resumeData.firstName" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="form-label">Last
                            Name</label>
                        <input [(ngModel)]="resumeData.lastName" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="lastName" name="lastName">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="jobTitle" class="form-label">Job Title</label>
                        <input [(ngModel)]="resumeData.jobTitle" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="jobTitle" placeholder="e.g., Front-End Developer" name="jobTitle">
                    </div>
                    <div class="col-md-6">
                        <label for="experience" class="form-label">Years of Experience</label>
                        <select class="form-select" id="experience">
                            <option selected disabled>Select experience level</option>
                            <option value="0-1">0 to 1 year (Entry Level)</option>
                            <option value="1-3">1 to 3 years (Junior)</option>
                            <option value="3-5">3 to 5 years (Mid-Level)</option>
                            <option value="5-10">5 to 10 years (Senior)</option>
                            <option value="10+">10+ years (Expert)</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email Address</label>
                        <input [(ngModel)]="resumeData.email" (input)="onUpdateResumeData()" type="email"
                            class="form-control" id="email" placeholder="example@example.com" name="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Phone</label>
                        <input [(ngModel)]="resumeData.phone" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="phone" placeholder="+20 123 456 7890" name="phone">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="city" class="form-label">city</label>
                        <input [(ngModel)]="resumeData.city" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="country" name="city">
                    </div>
                </div>

                <hr class="my-4">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="linkedinURL" class="form-label">LinkedIn</label>
                        <input [(ngModel)]="resumeData.linkedInUrl" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="linkedinURL" placeholder="linkedin.com/in/yourname"
                            name="linkedin">
                    </div>
                    <div class="col-md-4">
                        <label for="githubURL" class="form-label">GitHub</label>
                        <input [(ngModel)]="resumeData.githubUrl" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="githubURL" placeholder="github.com/yourname" name="github">
                    </div>
                    <div class="col-md-4">
                        <label for="portfolioURL" class="form-label">Portfolio / Website</label>
                        <input [(ngModel)]="resumeData.portfolioURL" (input)="onUpdateResumeData()" type="text"
                            class="form-control" id="portfolioURL" placeholder="yourportfolio.com" name="Portfolio">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>